@font-face {
    font-family: Gt super;
    src: url(fonts/gt-super-400-normal.woff);
}
@font-face {
    font-family: sonse;
    src: url(fonts/sohne-400-normal.woff);
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body{
    font-family: sonse;
}
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}
.navbar{
    display: flex;
    gap:10;  
}